<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>An accomplished Software Architect specializing in Object-Oriented Design and Analysis with extensive experience 
            in full life cycle of the software design process including requirements definition, prototyping, proof of concept, 
            design, interface implementation, testing and maintenance. Determined, passionate, hard working individual with 
            unyielding self motivation. 12+ years of industrial Java programming experience in developing an leading-edge software 
            for gravity/magnetic modelling of subsurface models and enterprise software for the rail cargo logistics sector. He 
			contributed to over 10 scientific publications and also gained passion for Enterprise Application Development, 
			APM (application performance monitoring), EIP (enterprise integration patterns), numerical simulations, high-performance 
			computing, document-retrieval-Systems and real-time graphics rendering.
    </div><!--//summary-->
</section><!--//section-->