<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-book"></i>EDUCATION AND TRAINING</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Dipl.-Inform. in Computer Science</h3>
                <div class="time">09/2002 - 12/2006</div>
            </div><!--//upper-row-->
            <div class="company">Fachhochschule Lausitz, University of Applied Sciences, Senftenberg (Germany) </div>            
        </div><!--//meta-->
        <div class="details">
            <p>Relevant Coursework:</p>
            <ul>
                <li>Classic / Modern Physics</li>
                <li>Software / System Engineering, Database Design</li>
                <li>System and Image Analysis</li>
                <li>Advanced Mathematics, Logic, Linear Algebra, Differential Equations</li>
                <li>Algorithms and Data Structures, Information Theory</li>
                <li>Medical Informatics</li>
            </ul>
            <p>Finished with final grade "very good".</p>
            <p>Project work "Evaluation von JPEG2000 Image-Streaming Bibliotheken".</p>
            <p>Practical semester in the PCSoft GmbH "Erweiterung der Zedas Software Suite".</p>
            <p>Diploma thesis in the VMscope GmbH "Kollaborative Applikationen in der virtuellen Mikroskopie".</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Vocational technical diploma</h3>
                <div class="time">09/2001 - 07/2002</div>
            </div><!--//upper-row-->
            <div class="company">Oberstufenzentrum Lausitz, Senftenberg (Germany)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Advanced technical college entrance qualification (Fachabitur).</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Industrial training</h3>
                <div class="time">1999 - 2001</div>
            </div><!--//upper-row-->
            <div class="company">Oberstufenzentrum I Spree-Nei&szlig;e, Forst</div>
        </div><!--//meta-->
        <div class="details">
            <p>Industrial training as Assistent f&uuml;r Automatisierungs und Computertechnik.</p>
            <p>Project work "Grafikstandards und ihre Assembler-Programmierung"</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Car mechanics</h3>
                <div class="time">1997 - 1999</div>
            </div><!--//upper-row-->
            <div class="company">Autohaus Fuchs, Lauchhammer</div>
        </div><!--//meta-->
        <div class="details">
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Elementary/ Comprehensive school</h3>
                <div class="time">1987 - 1997</div>
            </div><!--//upper-row-->
            <div class="company">Lauchhammer</div>
        </div><!--//meta-->
        <div class="details">
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->