<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">Dipl.-Inform. in Computer Science</h4>
        <h5 class="meta">University of Applied Sciences, Senftenberg</h5>
        <div class="time">2002 - 2006</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Vocational technical diploma</h4>
        <h5 class="meta">Oberstufenzentrum Lausitz, Senftenberg</h5>
        <div class="time">2001 - 2002</div>
    </div><!--//item-->
</div><!--//education-container-->