<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Project Manager and Software Architect</h3>
                <div class="time">11/2006 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Transinsight GmbH, Dresden (Germany)</div>
            <div class="company"><a href="http://potentialgs.com/" target="_blank">http://potentialgs.com/</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>Growing from Junior Software Engineer to Project Manager and Software Architect for the development and planing of the 3D modelling software suite IGMAS+ (Interactive Geophysical Modelling ASsistant).</p>
            <ul>
                <li>Develop leading-edge 3D gravity/magnetic modelling system</li>
                <li>Computational Geometry/ Geometric Modeling</li>
                <li>Work in close collaboration with customers like the Christian-Albrechts-University of Kiel, Statoil, Wintershall and NGU (Geological Survey of Norway)</li>
                <li>3D modelling environment for interactive gravity and magnetic modelling of polyhedron and voxel models</li>
                <li>High performance computing using many-core platforms (OpenCL)</li>
                <li>Interactive 3D and 2D visualisation (OpenGL), Plane and Globe rendering as well as calculation</li>
                <li>Support for all kind of projections</li>
                <li>Non-linear inversion of subsurface geometry and voxel models</li>
                <li>Website design and development</li>
                <li>Develop a system for on- and offline licence managment</li>
                <li>Manage and transfer research from university into the the software suite</li>
                <li>Customer relationship management</li>
                <li>Technology Stack (J2SE, OpenCL, OpenGL, JOGL, Swing, Proj4J, NASA WorldWind, XML, TDD, Agile)</li>
            </ul>
            <p>Business or sector: Research, Oil and Gas Industry, Universities</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Diploma thesis</h3>
                <div class="time">06/2006 - 11/2016</div>
            </div><!--//upper-row-->
            <div class="company">VMscope GmbH, Berlin (Germany)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Diploma thesis "Kollaborative Applikationen in der virtuellen Mikroskopie": Planning and 
                implementation of a client-server solution for collaborative working and displaying of digital 
                tissue sections in the virtual pathology.</p>  
            <ul>
                <li>Including a Javascript API for Level-of-Detail streaming of JPEG2000 images (like Google Maps)</li>
                <li>Users can choose between presenter and listeners mode</li>
                <li>Two different methods of communication, via AJAX and as a Java Applet</li>
                <li>Used technologies: ASP, AJAX, .NET, J2SE, RMI</li>            
            </ul>
            <p>Business or sector: Research, Digital Microscope</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Study Project</h3>
                <div class="time">09/2005 - 02/2006</div>
            </div><!--//upper-row-->
            <div class="company">VMscope GmbH, Berlin (Germany)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Study Project "Evaluation von JPEG2000 Image-Streaming Bibliotheken": Creating a test 
                environment for various JPEG2000 Image streaming libraries (C ++, C #) analysis and 
                presentation of the test results.</p>  
            <p>Business or sector: Research, Digital Microscope</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Practical semester</h3>
                <div class="time">09/2004 - 12/2004</div>
            </div><!--//upper-row-->
            <div class="company">PcSoft GmbH, Senftenberg (Germany) </div>
        </div><!--//meta-->
        <div class="details">
            <p>Practical semester in the PCSoft GmbH "Erweiterung der Zedas Software Suite": Expansion of 
                the software solution for logistics and facility management of rail and transport companies.</p>
            <ul>
                <li>Implementation of an install / update system based on InstallShield,</li>
                <li>Patching - system for source code,</li>
                <li>Extension of an existing workflow - system with additional functionality (Java based).</li>
            </ul>
            <p>Business or sector: Application Development</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->