<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/cxplonka/desktop-search" target="_blank">Desktop Search</a></span> - 
        <span class="project-tagline">A powerful, hierarchical desktop search engine based on swing and lucene.​</span>
        <ul>
            <li>Query-tree based search</li>
            <li>Full control over search results</li>
            <li>Different views for the result (globe rendering, list and grid view)</li>
            <li>Support all kind of documents and images</li>
            <li>Technology stack (Java, Gradle, Swing, Lucene, NASA Worldwind, TIKA)</li>
        </ul>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/cxplonka/jspmm" target="_blank">JSpMM</a></span> - 
        <span class="project-tagline">Sparse Matrix - Matrix Multiplication for GPU, Java8 Streams, Multicore CPU and GridGain.​</span>
        <ul>
            <li>Support for different matrix types (CCS, COO, CRS, Dense)</li>
            <li>Matrix multiplication implementation for distributed systems (GridGain), Multicore CPU, OpenCL)</li>
            <li>Technology stack (Java, Gradle, OpenCL, GridGain)</li>
        </ul>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/cxplonka/som-rgb" target="_blank">SOM - RGB</a></span> - 
        <span class="project-tagline">Visualization of SOM (self organizing map) algorithm based on RGB colorspace.</span>
        <ul>
            <li>It shows the interactive clustering for the SOM algorithm, in 2D and 3D</li>
            <li>Technology stack (Java, Gradle, Swing, Java3D)</li>
        </ul>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a>EarthFeed</a></span> - 
        <span class="project-tagline">EarthFeed is an interactive, knowledge-based RSS-FeedReader that displays news in realtime on an interactive World.​</span>
        <ul>
            <li>RSS Feed reader</li>
            <li>3D interactive globe rendering</li>
            <li>Place name extraction from news feeds</li>
            <li>Technology stack (Java, Gradle, NASA Worldwind)</li>
        </ul>
    </div><!--//item-->
</section><!--//section-->