<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Publications</h2>

    <p>Menzel, P., Alvers, M., Barrio-Alvers, L., G&ouml;tze, H.-J., Schmidt, S. and Plonka, C. Die Anwendung von Level-Of-Detail und Mesh-Simplification Strategien zur Vereinfachung komplexer Untergrundmodelle, ​March, 14th - 17th, 2016, 76. DGG General Assembly, M&uuml;nster, Germany.</p>            

    <p>M.R. Alvers, L. Barrio-Alvers, C. Bodor, H.J. G&ouml;tze, B. Lahmeyer, C. Plonka and S. Schmidt​. Quo vadis inversion?​, First Break, Vol 33, No 4, April 2015 pp. 65 - 74.​</p>

    <p>M.R. Alvers, H.J. G&ouml;tze, S. Schmidt, L. Barrio-Alvers, C. Plonka, C. Bodor and B. Lahmeyer​.. Practical Aspects of 3D Interactive Potential Field Modelling and Inversion​, 77th EAGE Conference and Exhibition 2015​.​​​</p>

    <p>M.R. Alvers, B. Lahmeyer, C. Plonka and E. Stangeland Karlsen​. New Insights from Interactive Gravity Inversion of Complex Salt Structures - The 3D SEAM Model​, 2014, 76th EAGE Conference &amp; Exhibition, Amsterdam​, Expanded abstracts.​​​</p>

    <p>Alvers, M.R., H.-J. G&ouml;tze, L. Barrio-Alvers, C. Plonka, S. Schmidt and B. Lahmeye. A novel warped-space concept for interactive 3D-geometry-inversion to improve seismic imaging, 2014, First Break, 32, 61-67.​</p>

    <p>Alvers, M. R., H.-J. G&ouml;tze, B. Lahmeyer, C. Plonka, and S. Schmidt., Advances in 3D Potential Field Modeling, 2013, 75th EAGE Conference &amp; Exhibition incorporating SPE EUROPEC 2013: European Association of Geoscientists and Engineers. (doi: 10.3997/2214- 4609.20130125).</p>

    <p>Schmidt, S., Plonka, C., G&ouml;tze, H.-J. and Lahmeyer, B.. Hybrid modelling of gravity, gravity gradients and magnetic fields, 2011, Geophysical prospecting, 59(6), 1046 - 1051. doi: 10.1111/j.1365-2478.2011.00999.x​​.</p>

    <p>Lahmeyer, B., Götze, H.-J., Schmidt, S., Alvers, M.R., Plonka, C., Fichler, C. Interactive 3D Gravity and Magnetic Modelling in IGMAS+ and the Integration in the Depth Imaging Workflow, 2010, 72th EAGE Conference &amp; Exhibition, Barcelona, Extended abstracts.</p>

    <p>G&ouml;tze, H.-J.; Schmidt, S.; Fichler, C.; Plonka, C​. IGMAS+ a new 3D Gravity, 2010, FTG and Magnetic Modeling Software, EGU General Assembly 2010.​</p>

    <p>G&ouml;tze, H.-J.; Schmidt, S.; Fichler, C.; Plonka, C. A new 3D Gravity, FTG and Magnetic Modelling Software - IGMAS+​, 2008, IGC 2008, Oslo​​.</p>
</section><!--//section-->